@using MyReklama.Logic;
@using MyReklama.Models.View;

@model ServiceView


@{

    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutA.cshtml";

}

<h2>Количество оказанных услуг</h2>

@foreach (var item in Model.serviceList)

{

    <div>@item.Name - @item.Count</div>

}

<h2>Клиенты заказавшие больше услуг</h2>

@foreach (var item in Model.clientList)

{

    <div>@item.Name - @item.Count</div>

}

<h2>Работники оказавшие больше услуг</h2>

@foreach (var item in Model.userList)

{

    <div>@item.Name - @item.Count</div>

}

<h2>Сумма заработанных средств: </h2>


    <div>@Model.SumPrice</div>

