@model MyReklama.Models.Employee



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Вы действительно хотитет удалить работника?</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ФИО
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FIO)
            </dd>
    
            <dt>
                Адрес
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adres)
            </dd>
    
            <dt>
                Номер телефона
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>
    
            @*<dt>
                @Html.DisplayNameFor(model => model.NumberOrder)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberOrder)
            </dd>*@
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("Назад", "Index")
            </div>
        }
    </div>
</body>
</html>
