@model MyReklama.Models.HeadOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeadOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

    </dl>
</div>
<table>
    <tr><td>id</td><td>Service</td><td>price</td><td>count</td><td>sum</td></tr>
    @{foreach (var item in Model.BodyOrders)
    {
        <tr><td>@item.Id</td><td>@item.Service.Name</td><td>@item.Price</td><td>@item.Count</td><td>@(item.Price*item.Count)</td></tr>
    }}

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
