@model MyReklama.Models.Client



<!DOCTYPE html>

<html>
<h4>Информация о клиенте</h4>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ФИО клиента
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FIO)
            </dd>
    
            <dt>
               Наименование компании
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameCompany)
            </dd>
    
            <dt>
               Адрес
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adres)
            </dd>
    
            <dt>
               Номер телефона
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>
    
            <dt>
                Город
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                Индекс
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Index)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Назад", "Index")
    </p>
</body>
</html>
