@model MyReklama.Models.IndexViewModel2
@using MyReklama.Helpers


<!DOCTYPE html>

<html>
<h3>Заказы</h3>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Добавить новый заказ", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                ФИО клиента
            </th>
            <th>
                ФИО работника
            </th>
            <th>
                Наименование услуги
            </th>
            <th>
                Дата
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                    @*@Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |*@
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
    </div>
</body>
</html>
